body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  background: linear-gradient(
    to left top,
    rgb(253, 103, 140),
    rgb(201, 201, 201),
    white,
    rgb(191, 191, 191),
    white,
    rgb(253, 103, 140)
  );
  background-attachment: fixed;
}
div {
  text-align: center;
}
h3 {
  text-align: left;
  position: fixed;
  top: 0px;
}
h4 {
  text-align: right;
}

.please {
  text-align: right;
}

button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
main {
  width: 200%;
}
input {
  width: 470px;
  height: 40px;
}
